@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* ====== CONTAINER ====== */
.login-container {
  display: flex;
  height: 100vh;
  background: #f8f9ff;
  font-family: "Poppins", sans-serif;
}

/* ====== LEFT SIDE ====== */
.login-left {
  flex: 1;
  max-width: 45%;
  background: url("../public/images/Login-bg.png") no-repeat center/cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 3rem;
}

.login-left h2 {
  font-size: 2.3rem;
  padding-bottom: 1rem;
}

.login-left span {
  font-weight: bold;
}

.left-group {
  align-items: center;
  margin: 7rem;
}

#login-info {
  padding-top: 3rem;
}

.btn-outline {
  margin-top: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 40px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
}

.btn-outline:hover {
  background: white;
  color: #005eff !important;
}

/* ====== RIGHT SIDE ====== */
.login-right {
  flex: 1;
  background: white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-right h2 {
  color: #005eff;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 2.3rem;
}

#loginForm {
  width: 100%;
  max-width: 26rem;
  display: flex;
  flex-direction: column;
}

/* ====== FORM ====== */
.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group input {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #c9d1ff;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #005eff;
}

.form-group input.error {
  border-color: rgb(255, 98, 98);
  background-color: #ffe6e6;
}

.error-msg {
  color: red;
  font-size: 0.75rem;
  margin-top: 5px;
}

/* ====== BUTTON ====== */
.btn-login {
  width: 100%;
  max-width: 26rem;
  padding: 10px;
  background: #005eff;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  align-self: center;
  font-size: 1rem;
}

.btn-login:hover {
  background: #0042c7;
}

/* ====== LOGIN FULL PAGE MODE ====== */
body.login-active .app-layout {
  display: block !important;
  min-height: 100vh;
  background: linear-gradient(to right, #f8f9ff, #ffffff);
  overflow: hidden;
}

body.login-active .main-wrapper {
  padding: 0;
  margin: 0;
}

body.login-active navbar-component,
body.login-active header-component {
  display: none !important;
}

body.login-active #main-content {
  padding: 0;
  margin: 0;
}
