@import "base.css";

@import "navigation-component.css";
@import "navigation-bar.css";
@import "services.css";
@import "footer.css";
@import "logout.css";
@import "dashboard.css";
@import "stok.css";
@import "spa.css";
@import "sewa-form.css";
@import "sewa.css";
@import "login.css";
@import "LaporanKeuangan.css";
@import "header.css";

@import "responsive.css";
